<% include ../layouts/header %>

<div id="blogs_view" class="ui container segment">
    <% blogs.forEach(function(blog) { %>
        <div class="ui raised card">
            <a id="title" class="center aligned header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
            <div class="content">
                <div class="right floated meta">
                    <span class="time">Created on: <%= blog.dateCreated %></span>
                </div>
                <img class="ui avatar image"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOAWtdUwNKHvS0DdrmJNBKkojjqA-Dz6i126BmMUbd4SzE2B59">
                Dhiraj Chhabra
            </div>
            <div class="image">
                <img src="<%= blog.image %>">
            </div>
            <div class="extra content">
                <div id="body" class="description">
                    <p><%- blog.body.substring(0, 100) %>....<a href="/blogs/<%= blog._id %>">(more)</a></p>
                </div>
            </div>
            <div class="content">
            <span class="right floated">
              <i class="heart outline like icon"></i>
              17 likes
            </span>
                <i class="comment icon"></i>
                3 comments
            </div>
        </div>
    <% }); %>
</div>

<% include ../layouts/footer %>