<% include layouts/header %>

<button><a href="/blogs/new">Add new blog</a></button>

<% blogs.forEach(function(blog) { %>
	<h1><a href="/blogs/<%= blog._id %>"><%= blog.title %></a></h1>
	<div>
		<img src="<%= blog.image %>">
		<span><%= blog.dateCreated %></span>
	</div>
	<div><%= blog.body.substring(0, 100) %></div>
<% }); %>

<% include layouts/footer %>