<% include ./layouts/header.ejs %>

<div id="blogs_view" class="ui container show-page">
    <div class="ui items">
        <h1 class="ui header"><%= singleBlog.title %></h1>
        <div id="intro" class="item">
            <img class="ui avatar image"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOAWtdUwNKHvS0DdrmJNBKkojjqA-Dz6i126BmMUbd4SzE2B59">
            <div class="content">
                <div class='right floated'>
                    <div class='ui pointing dropdown top right'>
                        <i class="ellipsis horizontal icon"></i>
                        <div class='menu'>
                            <div class='item'><i class="pencil alternate icon"></i> User Settings</div>
                            <div class='item'><i class="trash alternate outline icon"></i>Team Settings</div>
                        </div>
                    </div>
                </div>
                <div class="meta">
                    <p>Dhiraj Chhabra</p>
                    <p class="time">Created on: <%= singleBlog.dateCreated %></p>
                </div>
            </div>
        </div>
    </div>

    <div id="single_main">
        <img class="ui huge rounded image" src="<%= singleBlog.image %>">
        <div id="single_con"><%= singleBlog.body %></div>
        <button><a href="/blogs/<%= singleBlog._id %>/edit">Edit</a></button>
        <form action="/blogs/<%= singleBlog._id %>?_method=DELETE" method="POST">
            <button class="ui labeled icon button">
                <i class="pause icon"></i>
                Pause
            </button>
            <button class="ui right labeled icon button">
                <i class="right arrow icon"></i>
                Next
            </button>
        </form>
    </div>
</div>

<% include ./layouts/footer.ejs %>